/*-------------------APPLIES TO ALL----------------------*/

html body {
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: 'Lato', sans-serif;
}

/*-----------------HEADER-----------------------*/

#header {
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(../img/code.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
}

#header .background-texture {
    background-image: url(../img/pattern-bg.png);
    height: 100%;
    background-repeat: repeat;
    background-attachment: fixed;
}

#header .desc-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#header h1 {
    color: white;
    font-size: 40px;
    padding-bottom: 0;
    margin-bottom: 0;
}

#header h2 {
    color: gray;
    text-align: center;
}

#header nav ul{
    float: right;
    color: white;
    list-style: none;
    position: absolute;
    right: 0;
}

#header li {
    float: left;
    padding: 0 15px;
    font-size: 17px;
}

#header i{
    color: white;
    font-size: 60px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%,0);
}

/*---------------------ABOUT----------------------*/

#about .about-container {
    position: relative;
    left: 50%;
    transform: translate(50%, 50%);
    background-color: white;
}

#about p {
    color: white;
}
